@model List<UsersNotesViewModel>

<div class="container mt-3">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Başlık</th>
                <th>Açıklama</th>
                <th>Kişi</th>
                <th>Düzenleme</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.NoteName</td>
                    <td>@item.NoteDesc</td>
                    <td>@item.FullName</td>    
                    <td>
                    <a href="" class="btn btn-primary ">Düzenle</a>
                    <a href="" class="btn btn-danger ">Sil</a>
                    </td>
                </tr>
                
            }
        </tbody>
    </table>
</div>