@model List<UsersNotesViewModel>
@{
    
}
<div class="container mt-3">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Başlık</th>
                <th>Açıklama</th>
                <th>Kişi</th>
                <th>Düzenleme</th>
            </tr>
        </thead>
        <tbody>
            
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.NoteName</td>
                    <td>@item.NoteDesc</td>
                    <td>@item.FullName</td>    
                    <td>
                    <a href="/Edit/@item.NoteId" class="btn btn-primary ">Düzenle</a>
                    <button type="button" class="btn btn-sm btn-danger btn-delete" data-id="@item.NoteId">Sil</button>

                    </td>
                </tr>
                
            }
        </tbody>
    </table>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const deleteButtons = document.querySelectorAll(".btn-delete");

        deleteButtons.forEach(btn => {
            btn.addEventListener("click", function () {
                const jobId = this.getAttribute("data-id");

                Swal.fire({
                    title: "Emin misiniz?",
                    text: "Bu kaydı silmek üzeresiniz!",
                    icon: "warning",
                    showCancelButton: true,
                    confirmButtonText: "Evet, sil!",
                    cancelButtonText: "İptal"
                }).then((result) => {
                    if (result.isConfirmed) {
                        // Silme isteğini gönder
                        fetch(`/Notes/Delete/${jobId}`, {
                            method: "POST"
                        }).then(() => {
                            Swal.fire("Silindi!", "Kayıt başarıyla silindi.", "success")
                                .then(() => {
                                    location.reload();
                                });
                        });
                    }
                });
            });
        });
    });
</script>